# Data Science Tools and Ecosystem

### Welcome to the Data Science Tools and Ecosystem Notebook!
This notebook aims to provide an interactive environment for exploring various data science concepts and techniques.

**Objectives:**
- List popular languages for Data Science.
- Explore commonly used libraries in Data Science.
- Discuss development environment open source tools used in Data Science.
- Understand basic arithmetic operations.
- Convert minutes to hours

#### Data Science Languages
Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java 
6. Julia
7. C++

#### Data Science Libraries
Some of the commonly used libraries include:
1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras
7. TensorFlow
8. Pytorch
9. Apache Spark
10. SciPy

####  Data Science Tools
Some of the commonly used data science tools are listed in the table below.

| Data Science Tools   |
|:--------------------:|
| Jupyter Notebook     |
| RStudio              |
| VS Code + Python     |
| Anaconda             |
| Apache Zeppelin      |
| Spyder               |
| KNIME                |

#### Arithmetic Expression Examples
Below are a few examples of evaluating arithmetic expressions in Python.

In [47]:
# Evaluating arithmetic expression with two integers.
x = 40
y = 12

1. Addition

In [48]:
# The sum of integers x and y.
add = x + y
print('add =', add)

add = 52

2. Subtraction:

In [49]:
# The difference between integers x and y.
sub = x - y
print('sub =', sub)

sub = 28

3. Multiplication:

In [50]:
# The product of integers x and y.
mul = x * y
print('mul =', mul)

mul = 480

4. Division:

In [51]:
# The division of integers x and y.
div = x / y
print('div =', div)

div = 3.3333333333333335

5. Exponentiation:

In [52]:
# This raise the power of x to the power of y.
exp = x ** y
print('exp =', exp)

exp = 16777216000000000000

6. Floor division

In [53]:
# Finds the floor of the quotient when x is divided by y.
flo = x // y
print('flo =', flo)

flo = 3

7. Modulus

In [54]:
# The remainder of integers x and y.
mod = x % y
print('mod =', mod)

mod = 4

#### Multiply and Add Numbers
This a simple arithmetic expression to mutiply then add integers

In [55]:
# Evaluating arithmetic expression with three integers 
a = 5
b = 3
c = 2
n = (a*b)+c
print(n)

17

#### Convert minutes to hours
This example will convert 200 minutes to hours by dividing by 60

In [56]:
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
Preeja Pradeep